<!-- Views/Home/Index.cshtml -->
@model List<Person>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Data Pagination Example</title>
    
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div id="postContainer">
            
            <!-- Fetched data will be displayed here -->
            @foreach (var person in Model)
            {
                <div>
                    <p>Name: @person.Name</p>
                    <p>Age: @person.Age</p>
                    <p>City: @person.City</p>
                </div>
            }
        </div>

        <div id="paginationControls">

            <div id="paginationButtons">
                @if (ViewBag.PageNumber > 1)
                {
                    <a href="@Url.Action("Index", new { page = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })" class="button">Previous</a>
                }
                else
                {
                    <span class="disabled button">Previous</span>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.PageNumber)
                    {
                        <span class="button">@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })" class="button">@i</a>
                    }

                    if (i < ViewBag.TotalPages)
                    {
                        <text> </text>
                    }
                }

                @if (ViewBag.PageNumber < ViewBag.TotalPages)
                {
                    <a href="@Url.Action("Index", new { page = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })" class="button">Next</a>
                }
                else
                {
                    <span class="disabled button">Next</span>
                }
            </div>
        </div>
    </div>
    
</body>
</html>
